@page
@model OnlineVehicleRentalSystem.Models.User

<div class="container">
    <h1>Welcome to the Dashboard, @User.Identity.Name!</h1>
    <p>This is your dashboard. You can manage your bookings, view available vehicles, and more.</p>
</div>
